amx-items
elpa
transient
auto-save-list
recentf
irony
projects

.dap-breakpoints
.lsp-session-v1
*.~undo-tree~
projectile-bookmarks.eld
projectile.cache
ido.last

elpy
eshell

.cache
workspace
request
.extension
eln-cache
places
package-quickstart.el
package-quickstart.elc

undo
treesit-install-cache.el
