amx-items
elpa
transient
auto-save-list
recentf
irony
projects

.dap-breakpoints
.lsp-session-v1
*.~undo-tree~
projectile-bookmarks.eld
projectile.cache
ido.last

elpy
eshell

.cache
workspace
request
.extension
eln-cache